.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url('banner.jpg');
}


.banner p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Koulen', cursive;
  color: white;
  font-size: 4rem;
}
